div#map-container {
    width: 100%;
	position: fixed;
    left: 0;
}

#footer-biopama {
    position: fixed;
    bottom: 0;
	z-index: 99;
}
.klc-chart {
    text-align: center;
}
.navbar {
    z-index: 99;
}

select {
    width: 100%;
}
.klc-search-icon {
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    margin-right: 0px;
    color: white;
    background: #90c14f;
    width: 50px;
    float: right;
    border-radius: 50%;
}
div#klc-accordion {
    height: 500px;
    overflow-y: scroll;
    padding: 0 15px;
-webkit-box-shadow: inset 0px -16px 19px -15px rgba(17,133,171,0.5);
-moz-box-shadow: inset 0px -16px 19px -15px rgba(17,133,171,0.5);
box-shadow: inset 0px -16px 19px -15px rgba(17,133,171,0.5);
}
.klc-filters{
	padding-right: 20px;
}
#klc-accordion h3 {
    font-family: "Maven Pro"!important;
    font-size: x-large;
    background-color: white;
    z-index: 6;
    color: #77a6a1;
    font-weight: 900;
    border-radius: 3px;
    box-shadow: 0 0 20px 4px rgba(17,133,171,0.13);
    margin-top: 20px;
    padding: 2px 0.4em;
    outline: none;
}
.ui-accordion .ui-accordion-content {
    background: #fff;
}
.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    font-size: 100%;
}

.ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

#klc-accordion h3 i {
    padding-right: 20px;
    color: white;
    background-color: #90c14f;
    width: 45px;
    height: 35px;
    margin-left: -20px;
    text-align: center;
    padding: 5px 0px;
    margin-right: 20px;
    border-radius: 2px;
}