{% block head %}
{{ attach_library( 'biopama_klc_ecoregion/biopama_klc_ecoregion' ) }}
{% endblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
			<div id="map-container"></div>
		</div>
        <div class="col-md-8 klc-container">
			<div class='row klc-filters'>
				<div class='col-sm-3'>
				  <div class="klc-search-icon">
					<i class="fas fa-search"></i>
				  </div>
				</div>
				<div class='col-sm-3'>
				  <div class="form-group">
					<select class="form-control-lg" id="klcRegions">
					  <option selected>Region</option>
					  <option>2</option>
					  <option>3</option>
					</select>
				  </div>
				</div>
				<div class='col-sm-3'>
				  <div class="form-group">
					<select class="form-control-lg" id="klcCountries">
					  <option selected>Country</option>
					  <option>2</option>
					  <option>3</option>
					</select>
				  </div>
				</div>
				<div class='col-sm-3'>
				  <div class="form-group">
					<input class="form-control form-control-lg" type="text" placeholder="Search KLC Name">
				  </div>
				</div>
			</div>
		  <div id="klc-accordion" class="node-accordion" style="display: none;">
		  </div>
		</div>
    </div>
</div>